# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [1]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [ ]:
# CSV file is a plain text file that stores tabular data.
# Data such as for a spreadsheet or database table or pandas :)..
# Each line represents a row of data and each value(column) in a row is separated by a comma.

### Load the data set "cars_data" through Pandas.

In [2]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.
# Code below can be ran if you have the data file in the same folder as the script
cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

### Print the first 10 rows of the data.

In [ ]:
cars.head(10)

### Print the last 5 rows.

In [ ]:
cars.tail(5)

### By using the info method, check how many non-null rows each column have.

In [ ]:
cars.info()

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [ ]:
cars.dropna(inplace=True)
cars.info()

### Calculate the mean of each numeric column.

In [ ]:
cars.mean(numeric_only=True)

### Select the rows where the column "company" is equal to 'honda'.

In [ ]:
cars[cars['company'] == 'honda']
cars.query("company == 'honda'")

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [ ]:
sorted_cars_by_price = cars.sort_values(by='price', ascending=False)
sorted_cars_by_price

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [ ]:
cars[cars['company'].isin(['audi', 'bmw', 'porsche'])]
cars.query("company == 'audi' or company == 'bmw' or company == 'porsche'")

### Find the number of cars (rows) for each company.

In [ ]:
cars.groupby(cars.company).company.count()

### Find the maximum price for each company.

In [ ]:
cars.groupby(cars.company).price.max()